
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Original+Surfer&family=Outfit:wght@100;200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Original+Surfer&family=Outfit:wght@100;200;300;500;600;700;800;900&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Original+Surfer&family=Outfit:wght@100;200;300;500;600;700;800;900&family=PT+Sans&display=swap');
body {
  background-color:white;
}
.title {
  color: black;
  text-align: center;
  margin: auto;
  font-family: 'Cormorant Garamond', serif;

  font-size: 100px;
} 

.navbar {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-top: 23px;
  font-family: 'Cormorant Garamond', serif;
}

.link {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 15px;
 
}

.middle {
  height: 150px;
  padding-left: 110px;
  padding-right: 110px;
}

.left {
  padding-top: 60px;
  padding-left: 60px;
}

.right {
  padding-top: 60px;
  padding-right: 60px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:active { text-decoration: none; color: rgb(176, 46, 176)}

.grid-body {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  text-align: left;
}

.left-hand {
  padding-left: 5%;
  width: 48%;
  color: black;
  font-family: 'PT Sans', sans-serif;
  margin-left: 8px;
  font-size: 15px;
}

.right-hand {
  padding-top: 2%;
  padding-right: 2%;
  width: 35%;
  margin-left: 4%;
  font-family: 'Cormorant Garamond', serif;
  
}

.coming-up {
  line-height: 1;
  padding-bottom: 2%;
  color: blue;
}

.coming-up-title {
  font-size: 25px;
  color: blue;
  padding-bottom: 5%;
}
.hr-blue {
  height: 2px;
  background-color: blue;
  width: 80%;
}

.landscape-photo {
  width: 55vw; 
  height: 65vh; 
  object-fit: cover;
  margin-left: 5;
}

.newsletter-div {
  width: 350px;
  height: 350px;
  line-height: 40%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.cover-photo {
    width: 350px; 
    height: 300px; 
    object-fit: cover;
}

.cover-title {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-size: 20px;
}

.input-box {
  color: black;
  height: 50px;
  width: 210px;
  border-radius: 5px;
  border-width: 0.5px;
  font-family: 'PT Sans', sans-serif;

  padding-left: 2%;
}

h3 {
  font-family: 'PT Sans', sans-serif;

}

.sub {
  color: white;
  background-color: black;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border-width: 0.5px;
  font-family: 'PT Sans', sans-serif;

  padding-left: 2%;
  margin-left: 1%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.newsletter-grid {

  display: flex;
  flex-direction: column;
}


.subscribe-box {
    background: #FFFCF6;
    font-family: 'PT Sans', sans-serif;

    padding: 6em 0;
    text-align: center;
    color: black;
}

h2 {
  margin: 0 0 .85em 0;
  font-weight: 100;
  font-size: 30px;
  font-family: 'Marcellus', serif;
}

.subscribe {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    padding: 1em 0 .8em;
    text-align: center;
    font-size: 18px;
    font-family: 'Marcellus', serif;
    font-weight: 300;
    line-height: 1.5;
    color: black;
    outline: black;

    &::placeholder { 
      color: hsla(0, 0%, 55%, 0.5);
  }
}

button {  
  color: black;  
  all: unset;
  margin-top: 2.4em;
  background: transparent;
  border: 2px solid black;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: all 300ms ease;
}

.section {
  justify-content: center;
  width: 100%;
  background-color: rgb(0, 57, 215);
  padding-bottom: 7%;
  font-family: 'Cormorant Garamond', serif;
}
.subtitle {
  color: white;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  padding-top: 7%;
  padding-bottom: 1%;
  font-family: 'Cormorant Garamond', serif;
} 

.desc {
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 0.3;
  font-family: 'Cormorant Garamond', serif;
}

.featured-desc {
  font-family: 'Cormorant Garamond', serif;
  line-height: 0.02;
}

.featured-desc-date {
  font-size: 15px;
  padding-top: 1%;
  text-align: center;
}
.featured-desc-title {
  font-size: 40px;
  text-align: center;
}
.featured-desc-body {
  font-size: 15px;
  text-align: center;
  padding-bottom: 25px;
  margin-left: 3%;
}
.continue-reading {
  
  border: 0.5px solid blue;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  font-family: 'Cormorant Garamond', serif;
  margin-left: 37%;


}

.continue-reading:hover {
  background-color: blue;
  color: white;
}
.calender {
 padding-right: 3%;
}

.strip {
  width: 100%; 
  height: 600px;
  background-color: white;
  background-image: radial-gradient(  rgb(250, 233, 254),  rgb(229, 239, 254), rgb(255, 238, 246));
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.strip-left {
  margin-top: 9%;
  padding-left: 7%;
}

.strip-img {
  height: 320px;
  border-radius: 150px;
}

.strip-right {
  width: 47%;
  margin-left: 10%;
  margin-top: 6%;
  padding-bottom: 4%;
  font-family: 'Cormorant Garamond', serif;
  
}

.strip-button {
  border: 0.5px solid blue;
  border-radius: 0;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  font-family: 'Cormorant Garamond', serif;
  margin-left: 40%;
}
.strip-button:hover {
  border: 0.5px solid blue;
  background-color: blue;
  color: white;
  border-radius: 0;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  font-family: 'Cormorant Garamond', serif;
  margin-left: 40%;
}

.events-containter {
  display: flex;
  flex-direction: row;

  justify-content: center;
  padding: 3%;

}